# Pure Data externals
*.pd_linux
*.pd_darwin
*.dll
*.o
*.so
*.dylib

# macOS system files
.DS_Store
.AppleDouble
.LSOverride



# Python
*.pyc
__pycache__/
*.py[cod]
*$py.class
.Python
env/
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
wheels/
*.egg-info/
.installed.cfg
*.egg
analyzer_env/

# IDE
.vscode/
.idea/
